{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Create invoice</h1>
        <div class="w-50 p-3">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
