{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col">
            <div class="alert alert-success" role="alert">
                <h1>Invoice successfully paid</h1>
            </div>
            <a href="{{ path('merchant_order_index') }}">Back to orders</a>
        </div>
    </div>
{% endblock %}
